@import "tailwindcss";

@keyframes slideFadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
    max-height: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideFadeIn {
  animation: slideFadeIn 0.3s ease-out forwards;
  overflow: hidden;
}

